.data-table {
    height: 75%;
    padding: 20px;

    .datatable-title {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            border: 1px solid green; 
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cell-with-status {
        padding: 5px;
        width: 100%;
        text-align: center;
        border-radius: 5px;

        &.Ativo {
            color: green;
            background-color: rgba(0, 128, 0, 0.082);
        }
        
        &.Pendente {
            color: goldenrod;
            background-color: rgba(255, 188, 20, 0.082);
        }

        &.Cancelado {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.082);
        }
    }

    .cell-action {
        display: flex;
        align-items: center;
        gap: 15px;

        .view-button {
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(20, 55, 209);
            background-color: rgba(37, 112, 250, 0.082);
            cursor: pointer;
        }

        .delete-button {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            background-color: rgba(240, 7, 7, 0.068);
            cursor: pointer;
        }
    }
}

